/.idea/.idea.MailApi/.idea/workspace.xml
/.idea/.idea.MailApi/.idea/projectSettingsUpdater.xml
/.idea/.idea.MailApi/.idea/vcs.xml
/.idea/.idea.MailApi/.idea/indexLayout.xml
/.idea/.idea.MailApi/.idea/encodings.xml
